body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.img-place-holder {
    color: #e5e7eb;
    font: 12px;
    background-color: #e5e7eb44;
    width: 400px;
    height: 200px;
}

.footer {
    font-size: 18px;
    color: #e5e7eb;
}

.text,
.header li {
    font-size: 18px;
}

.hero p,
.header li {
    color: #e5e7eb;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}


.header,
.hero,
.footer {
    background-color: #1f2937;
}

.sign-up,
.call-to-action {
    background-color: #3882f6;
}

.sign-up {
    padding: 4px 16px;
    border-radius: 5px;
}

.call-to-action .sign-up {
    border: solid white;
    border-width: 1px;
}

.info h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    
}
